<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 style="color:rgb(89, 147, 223)">View all Products</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of pass.data">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="{{i.airline[0].logo}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{i.airline[0].name</h5>
                            <h6 class="card-title">{{i.airline[0].name</h6>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">{{i.airline[0].website</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
