<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Views Data</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Product list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quote">quotes list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo">todo list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userdata">userdata</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userinfo">userinfo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pass">passenger list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usdata">us data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
